<div class="clock">
  {{ now }}
</div>

<div class="clock">Backtest: {{ isBacktest }}</div>

<div class="clock">Position: {{ hasPosition }}</div>

<div class="clock">Trade P&L: USD {{ currentPnl | number: "1.2-2" }}</div>
<div class="clock">Running P&L: USD {{ runningPnl | number: "1.2-2" }}</div>
<div class="clock">Hold P&L: USD {{ holdPnl | number: "1.2-2" }}</div>

<div class="chart">
  <canvas
    height="600px"
    baseChart
    [data]="financialChartData"
    [options]="financialChartOptions"
    [type]="financialChartType"
  >
  </canvas>
</div>
